{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="display-4">Агенство недвижимости Nano</h1>
      <p class="lead">Нижний Новгород</p>
    </div>
  </div>
</div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">
          <i class="fas fa-home"></i> Главная</a>
      </li>
      <li class="breadcrumb-item active"> О компании</li>
    </ol>
  </nav>
</div>
</section>

<section id="about" class="py-4">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Мы найдем для Вас уютный дом</h2>
      <p class="lead">Мы - агенство недвижимости в городе Нижний Новгород "Nano"!</p>
      <img src="{% static 'img/about.jpg' %}" alt="">
      <p class="mt-4">С каждым клиентом мы общаемся лично, учитываем потребности, возможности и даже характер человека, чтобы подобрать по-настоящему желанное место для жизни.</p>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'img/realtors/1.png' %}" alt="Работник месяца">
        <div class="card-body">
          <h5 class="card-title">Риэлтор месяца</h5>
          <h6 class="text-secondary">Григорий Петрович Болгар</h6>
          <p class="card-text">Григорий Петрович Болгар это долларовый миллиардер просто.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
<h2 class="display-4">Мы работаем на Вас</h2>
<h4>Выберите себе подходящий и уютный дом для Вас и Вашей семьи используя расширенный поиск!</h4>
<hr>
<a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">Посмотреть все предложения</a>
</section>

<!-- Team -->
<section id="team" class="py-5">
<div class="container">
  <h2 class="text-center">Наша команда</h2>
  <div class="row text-center">
    <div class="col-md-4">
      <img src="{% static 'img/realtors/1.png' %}" alt="" class="rounded-circle mb-3">
      <h4>Григорий Петрович Болгар</h4>
      <p class="text-success">
        <i class="fas fa-award text-success mb-3"></i> Риэлтор</p>
      <hr>
      <p>
        <i class="fas fa-phone"></i> (999)-99-99-9999</p>
      <p>
        <i class="fas fa-envelope-open"></i> george@nano.com</p>
    </div>

    <div class="col-md-4">
      <img src="{% static 'img/realtors/2.png' %}" alt="" class="rounded-circle mb-3">
      <h4>Альбина Амурхановна Дежникова</h4>
      <p class="text-success">Риэлтор</p>
      <hr>
      <p>
        <i class="fas fa-phone"></i> (999)-99-99-9999</p>
      <p>
        <i class="fas fa-envelope-open"></i> albina@nano.com</p>
    </div>

    <div class="col-md-4">
      <img src="{% static 'img/realtors/3.png' %}" alt="" class="rounded-circle mb-3">
      <h4>Наталья Олеговна Доможилкина</h4>
      <p class="text-success">Риэлтор</p>
      <hr>
      <p>
        <i class="fas fa-phone"></i> (999)-99-99-9999</p>
      <p>
        <i class="fas fa-envelope-open"></i> natalia@nano.com</p>
    </div>
  </div>
</div>
</section>
{% endblock %}