<!-- Top Bar -->
<section id="top-bar" class="p-3">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <i class="fas fa-phone"></i> (999)-99-99-999
    </div>
    <div class="col-md-4">
      <i class="fas fa-envelope-open"></i> contact@nano.com
    </div>
    <div class="col-md-4">
      <div class="social text-right">
        <a href="https://vk.com/nnrknano">
          <i class="fab fa-vk"></i>
        </a>
        <a href="https://www.facebook.com/groups/rknano/">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/rknanonn/">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</section>